<launch>
  <arg name="name" default="ugv_0"/>
  <arg name="x" default="-1.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.05"/>
  <arg name="yaw" default="0.0"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg name)" output="screen"
        args="-sdf -file $(find air_ground_ugv_gazebo)/models/ugv_mvp/model.sdf -model $(arg name) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg name)_charuco_board_tf"
        args="-0.05 0 0.115 0 0 0 1 $(arg name)/base_link $(arg name)/charuco_board"/>
</launch>
