<launch>
        <arg name="odom_topic" default="mavros/local_position/odom"/>
        <arg name="cmd_topic" default="position_cmd"/>
        <node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl" output="screen">
            <!-- <remap from="~odom" to="/vicon_imu_ekf_odom" /> -->
            <remap from="odom" to="$(arg odom_topic)" />
            <remap from="cmd" to="$(arg cmd_topic)" />
            <rosparam command="load" file="$(find px4ctrl)/config/ctrl_param_fpv.yaml" />
        </node>
</launch>
